<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Julián Cortés' personal website">
        <title>Julián Cortés' personal website</title>
        <link rel="stylesheet" href="/static/css/styles.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    </head>
    <body class="bg-gray-100">
        <section class="p-12">
            <img src="/media/images/me.jpg" alt="julián cortés" class="w-48 md:w-64 md:h-auto rounded-full mx-auto my-8">
            <div class="pt-6 md:p-10 text-center space-y-4">
                <h1 class="text-2xl md:text-4xl font-bold">Hey, I'm Julián Cortés</h1>
                <p class="text-lg">I'm software developer from Colombia</p>
                <div>
                    <a class="mx-1 fa fa-lg fa-twitter" href="https://twitter.com/__pity_" rel="me" target="_blank"></a>
                    <a class="mx-1 fa fa-lg fa-github" href="https://github.com/pity7736" rel="me" target="_blank"></a>
                    <a class="mx-1 fa fa-lg fa-linkedin" href="https://www.linkedin.com/in/juliancortes/" rel="me" target="_blank"></a>
                </div>
            </div>
        </section>
    </body>
</html>
