<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Julián Cortés' website</title>
    </head>
    <body>
        <header>Raise Exception</header>
        <h1>Hey, I'm Julián Cortés</h1>
        <p>I'm software developer from Colombia</p>
        <a href="https://twitter.com/__pity_" target="_blank">Twitter</a>
        <a href="https://github.com/pity7736" target="_blank">Github</a>
        <a href="https://www.linkedin.com/in/juliancortes/" target="_blank">Linkedin</a>
    </body>
</html>
