<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Julián Cortés' personal website">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@__pity_">
        <meta name="twitter:creator" content="@__pity_">
        <meta name="twitter:title" content="Julián Cortés personal website">
        <meta name="twitter:description" content="I'm software developer">
        <meta name="twitter:image" content="https://raiseexception.dev/media/images/me.jpg">
        <meta name="twitter:image:alt" content="Julián Cortés">
        <meta property="og:title" content="Julián Cortés personal website">
        <meta property="og:url" content="https://raiseexception.dev">
        <meta property="og:description" content="I'm software developer">
        <meta property="og:image" content="https://raiseexception.dev/media/images/me.jpg">
        <title>Julián Cortés' personal website</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body class="bg-gray-100">
        <section class="p-12">
            <img src="/media/images/me.jpg" alt="julián cortés" class="w-48 md:w-64 md:h-auto rounded-full mx-auto my-8">
            <div class="pt-6 md:p-10 text-center space-y-4">
                <h1 class="text-2xl md:text-4xl font-bold">Hey, I'm Julián Cortés</h1>
                <p class="max-w-screen-md mx-auto text-lg">I'm software developer. I'm interested in SOLID and GRASP principles, automated testing, TDD, design patterns and software engineering in general. Also, I'm concerned about privacy on the Internet</p>
                <div class="flex justify-center p-8">
                    <a class="mx-1" href="https://twitter.com/__pity_" rel="me" target="_blank" title="twitter"><img src="/media/images/twitter.svg" alt="twitter-icon" class="w-6 m-0.5"></a>
                    <a class="mx-1" href="https://github.com/pity7736" rel="me" target="_blank" title="github"><img src="/media/images/github.svg" alt="github-icon" class="w-6 m-0.5"></a>
                    <a class="mx-1" href="https://www.linkedin.com/in/juliancortes/" rel="me" target="_blank" title="linkedin"><img src="/media/images/linkedin.svg" alt="linkdedin-icon" class="w-6 m-0.5"></a>
                </div>
            </div>
        </section>
    </body>
</html>
