{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}
{% block body %}
    <div class="max-w-screen-md mx-auto px-10 md:px-0">
        <p class="mt-6"><a href="/">Home</a></p>
        <article class="container mx-auto mt-10">
            <h1 class="text-4xl font-extrabold mt-16 text-center">Privacy Policy</h1>
            <div class="my-10 space-y-4 text-justify">
                <p>Visitors privacy is very important for <a href="/">raiseexception.dev</a>, we don't use cookies and we don't collect any personal data.</p>
                <h2>As a visitor to raisexception.dev website</h2>
                <p>We don't track any individual people, that's why:</p>
                <ul>
                    <li>No personal information is collected</li>
                    <li>No information is shared with third parties</li>
                    <li>No information is monetized</li>
                    <li>We don't use cookies</li>
                </ul>
                <p>We use <a href="https://plausible.io/" target="_blank">plausible.io</a> as a web analytics tool. It's a privacy focused tool and it doesn't use cookies. You can see their <a href="https://plausible.io/privacy" target="_blank">privacy policy</a> for more information. Also you can check the anonymous data that they collect <a href="https://plausible.io/data-policy" target="_blank">here</a>.</p>
                <h3>When you make a comment in a blog posts</h3>
                <p>You can write comments for any post. Web form asks a name or alias (optional), email (optional) and the comment itself.</p>
                <p>Name or alias going to be displayed in the comment box. Email not going to be displayed and it is used to notify you when the comment is approved for us or a reply is made for other visitors.</p>
                <h2>As a subscriber to newsletter</h2>
                <p>The <a href="/subscription">subscription page</a> asks only a name or alias (optional) and email address (required) to make the subscription. No more data is needed. We use <a href="https://www.mailjet.com/" target="_blank">mailjet</a> to send emails and any track features are disabled. No tracker or spy pixels are used. That means we can't know if you open an email or do click in some link. You can check their privacy policy <a href="https://www.mailjet.com/security-privacy/" target="_blank">here</a>.</p>
                <p>Your name, or alias, and email address never going to be displayed in the website. Your email address only going to be used to send you an email when new post is published or for news. No more.</p>
                <h2>Updates</h2>
                <p>We can make updates anytime and we'll notify you (if you are subscribed) when this occurs.</p>
            </div>
        </article>
    </div>
{% endblock %}
