{% extends 'base.html' %}
{% block title %} Privacy Policy {% endblock %}
{% block body %}
    <div class="max-w-screen-md mx-auto px-10 md:px-0">
        <p class="mt-6"><a href="/">Home</a></p>
        <article class="container mx-auto mt-10">
            <h1 class="text-4xl font-extrabold mt-16 text-center">Privacy Policy</h1>
            <div class="my-10 space-y-4 text-justify">
                <p>Visitors' privacy is very important for <a href="/">raiseexception.dev</a>, we don't use cookies and we don't collect any personal data.</p>
                <h2>As a visitor to raisexception.dev website</h2>
                <p>We don't track any private data, that's why:</p>
                <ul>
                    <li>We don’t collect personal information</li>
                    <li>We don’t share information with third parties</li>
                    <li>We don’t monetize your information</li>
                    <li>We don’t use cookies</li>
                </ul>
                <p>We use <a href="https://plausible.io/" target="_blank">plausible.io</a> as a web analytics tool. It's a privacy-focused tool that doesn't use cookies. You can verify their <a href="https://plausible.io/privacy" target="_blank">privacy policy</a> for more information. Also you can check the anonymous data that they collect <a href="https://plausible.io/data-policy" target="_blank">here</a>.</p>
                <h3>When you comment on a blog post</h3>
                <p>You can comment on any post. Web form asks a name or alias (optional) and email address (optional). If you provide us the email address, we are going to send you a notification when the comment is approved or a reply has been made for other visitors.</p>
                <p>Your name or alias will be displayed in the comment box but your email address won't.</p>
                <h2>As a subscriber to newsletter</h2>
                <p>The <a href="/subscription">subscription page</a> asks only your name or your alias (optional) and email address (required) to make the subscription. We don't need more data. We use <a href="https://www.mailjet.com/" target="_blank">mailjet</a> to send you emails and any track features are disabled. We don't use any tracker or spy pixels. That means we can't know if you open an email or click on some link. You can check their privacy policy <a href="https://www.mailjet.com/security-privacy/" target="_blank">here</a>.</p>
                <p>Your name, or alias, and email address are never going to be displayed on the website. Your email address is only going to be used to send you an email when new post is published or for news. No more.</p>
                <h2>Updates</h2>
                <p>We can make updates anytime and we'll notify you (if you are subscribed) when this occurs.</p>
            </div>
        </article>
    </div>
{% endblock %}
