<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Create post</title>
        <script async defer data-domain="raiseexception.dev" src="https://plausible.io/js/plausible.js"></script>
    </head>
    <body>
        {% if message %}
            <div>
                <p>{{ message }}</p>
            </div>
        {% endif %}
        <form id="create-post" action="/admin/blog" method="post">
            <label for="title">Title:</label>
            <input id="title" name="title" type="text" required autofocus>
            <label for="category_id">Category:</label>
            <select id="category_id" name="category_id" required>
                <option value="" selected>-----</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <label for="body">Body:</label>
            <textarea id="body" name="body" required></textarea>
            <input type="submit" value="Create">
        </form>
    </body>
</html>
