{% extends 'base.html' %}
{% block title %}{{ post.title_slug }}{% endblock %}
{% block body %}
    <div class="max-w-screen-md mx-auto px-10 md:px-0">
        <p class="mt-6"><a href="/blog">Blog</a></p>
        <article class="container mx-auto pt-16">
            <h1 class="text-center text-4xl font-extrabold">{{ post.title.capitalize() }}</h1>
            <time class="mt-10 block text-sm" datetime="{{ post.created_at.isoformat() }}">{{ post.created_at }}</time>
            <div class="mt-16 text-justify md:px-0 space-y-4 text-base">
                {{ post_body|safe }}
            </div>
        </article>
        <section class="pt-16">
            <p>Leave a comment</p>
            <form id="comment" method="post" class="mb-6">
                <div class="flex flex-col mt-8 md:flex-row">
                    <label for="name" class="flex-initial md:w-28">Name</label>
                    <input id="name" name="name" type="text" placeholder="name or alias" class="flex-auto mt-1 pl-2 rounded">
                </div>
                <div class="flex flex-col md:flex-row">
                    <label for="email" class="flex-initial mt-3 md:w-28">Email</label>
                    <input id="email" name="email" type="email" alt="text" placeholder="email will not be published" class="flex-auto mt-1 pl-2 rounded">
                </div>
                <div class="flex flex-col md:flex-row">
                    <label for="body" class="flex-initial mt-3 md:w-28">Comment *</label>
                    <textarea id="body" name="body" rows="5" required class="flex-auto mt-1 rounded"></textarea>
                </div>
                <input type="submit" value="Send" class="mt-4 bg-gray-800 rounded w-20 text-white">
            </form>
            {% include 'message.html' %}
        </section>
        <section>
            {% if comments %}
                <ul class="mt-20 list-none">Comments:
                    {% for comment in comments %}
                        <li class="mt-6 bg-gray-200 p-2 rounded">
                            <div>
                                <p><strong>{{ comment.name.capitalize() }}</strong>, <time class="italic" datetime="{{ comment.created_at.isoformat() }}">{{ comment.created_at}}</time></p>
                            </div>
                            <p class="mt-2">{{ comment.body.capitalize() }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                 <p class="mt-20">There are no comments.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
