{% extends 'base.html' %}
{% block extra_meta %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@__pity_">
    <meta name="twitter:title" content="{{ post.title.capitalize() }}">
    <meta property="og:title" content="{{ post.title.capitalize() }}">
    <meta property="og:url" content="https://raiseexception.dev/blog/{{ post.title_slug }}">
    <meta property="og:description" content="I'm software developer">
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/css/code_styles.css">
{% endblock %}
{% block title %} {{ post.title_slug }} {% endblock %}
{% block body %}
    <div class="max-w-screen-md mx-auto mb-6 px-10 md:px-0">
        <p class="mt-6"><a href="/blog">Blog</a></p>
        <article class="container mx-auto pt-16">
            <h1 class="text-center text-4xl font-extrabold">{{ post.title.capitalize() }}</h1>
            {% if post.published_at %}
                <time class="mt-10 block text-sm"  datetime="{{ post.published_at.isoformat() }}">{{ post.published_at.date() }}</time>
            {% endif %}
            <div class="mt-16 text-justify md:px-0 space-y-4 text-base">
                {{ post_body|safe }}
            </div>
        </article>
        <section class="mt-16">
            <p>Leave a comment</p>
            <form id="comment" method="post" class="mb-6">
                <div class="flex flex-col mt-8 h-10 md:flex-row">
                    <label for="name" class="flex-initial m-auto md:w-28">Name</label>
                    <input id="name" name="name" type="text" placeholder="name or alias" class="flex-auto mt-1 pl-2 rounded">
                </div>
                <div class="flex flex-col mt-1 h-10 md:flex-row">
                    <label for="email" class="flex-initial m-auto md:w-28">Email</label>
                    <input id="email" name="email" type="email" alt="text" placeholder="email will not be published" class="flex-auto mt-1 pl-2 rounded">
                </div>
                <div class="flex flex-col mt-1 md:flex-row">
                    <label for="body" class="flex-initial m-auto md:w-28">Comment *</label>
                    <textarea id="body" name="body" rows="5" required class="flex-auto mt-1 rounded pl-2"></textarea>
                </div>
                <input type="submit" value="Send" class="mt-4 bg-gray-800 rounded w-20 text-white">
            </form>
            {% include 'message.html' %}
        </section>
        <section>
            {% if comments %}
                <ul class="mt-20 list-none">Comments:
                    {% for comment in comments %}
                        <li class="mt-6 bg-gray-200 p-2 rounded">
                            <div>
                                <p><strong>{{ comment.name.capitalize() }}</strong>, <time class="italic" datetime="{{ comment.created_at.isoformat() }}">{{ comment.created_at.date()}}</time></p>
                            </div>
                            <p class="mt-2">{{ comment.body.capitalize() }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                 <p class="my-20">There are no comments.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
