{% extends 'base.html' %}
{% block title %}Subscription{% endblock %}
{% block body %}
    {% include 'message.html' %}
    <div class="max-w-screen-md mx-auto mt-16 px-10 md:px-0">
        <form id="subscribe" method="post">
            <div class="flex flex-col md:flex-row">
                <label for="name" class="flex-initial md:w-28">Name</label>
                <input id="name" name="name" type="text" placeholder="name or alias" class="pl-2 rounded md:w-64">
            </div>
            <div class="flex flex-col mt-3 md:flex-row">
                <label for="email" class="flex-initial md:w-28">Email</label>
                <input id="email" name="email" type="email" placeholder="your email" required class="pl-2 rounded md:w-64">
            </div>
            <input type="submit" value="Subscribe" class="mt-4 bg-gray-800 rounded w-20 text-white">
        </form>
    </div>
{% endblock %}
